<div ng-if="dataLength == 0">
   <h3>Pick one dimension field first!</h3>
</div>
<div ng-if="dataLength !== 0" class="chart-container" ng-attr-id="custom-filter-{{ qId }}" ng-style="containerStyle">
   <div class="dimension" ng-repeat="dimension in dimData" ng-attr-id="{{dimension.id}}">
      <!---------------------------------------------UI Listbox--------------------------------------------------------------->
      <div ng-if="dimension.fieldType == 'listbox' && !checkHeight" class="listbox">
         <div ng-show="dimension.showSelectionToolbar" class="listbox-selection-toolbar">
            <button id="cancel-sel-button" class="lui-button  lui-button--danger"
               ng-click="endSelections(dimension.name, false)"><i
                  class="lui-icon lui-icon--close rm-pointer-events"></i></button>
            <button id="confirm-sel-button" class="lui-button  lui-button--success"
               ng-click="endSelections(dimension.name, true)"><i
                  class="lui-icon lui-icon--tick rm-pointer-events"></button>
         </div>
         <div class="label-header" ng-style="HeaderStyle">
            <div class="dropdown-selectionMenu" ng-style="enableSelectionsMenu">
               <button class="dropbtn">
                  <i class="lui-icon lui-icon--menu"></i>
               </button>
               <div class="dropdown-selectionMenu-content">
                  <div class="selectionsMenuItems" ng-style="enableSelectionsMenu">
                     <span ng-click="selectionsMenuBar(dimension.name,'selectAll')" ng-style="enableSelectAll"><i
                           class="lui-icon lui-icon--select-all"></i> &nbsp; Select All</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'selectExcluded')"
                        ng-style="enableSelectExcluded"><i class="lui-icon lui-icon--select-excluded"></i> &nbsp; Select
                        Excluded</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'selectPossible')"
                        ng-style="enableSelectPossible"> <i class="lui-icon lui-icon--select-possible"></i> &nbsp;Select
                        Possible</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'selectAlternative')"
                        ng-style="enableSelectAlternative"><i class="lui-icon lui-icon--select-alternative"></i> &nbsp;
                        Select Alternative</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'clearAll')" ng-style="enableClearAll"> <i
                           class="lui-icon lui-icon--clear-selections"></i> &nbsp;Clear All</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'lockField')" ng-style="enableLockField"><i
                           class="lui-icon lui-icon--lock"></i> &nbsp; Lock Field</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'unlockField')" ng-style="enableUnlockField"> <i
                           class="lui-icon lui-icon--unlock"></i> &nbsp;Unlock
                        Field</span>
                  </div>
               </div>
            </div>
            <span class="lui-icon--search  lui-icon search-icon" title="Search"
               ng-click="toggleSearchbar(dimension.name)" ng-style="enableSearch"></span>
            <span>{{ dimension.label ? dimension.label : dimension.name }}</span>
         </div>
         <div class="listboxprops">
            <div class="search-container" ng-show="dimension.IsVisibleSearch">
               <span class="lui-icon--search  lui-icon"></span>
               <input class="search-input" type="text" class="form-control" placeholder="Search" ng-model="searchValue"
                  ng-keyup="searchFieldDataForString(dimension.name,searchValue)"></input>
               <span ng-show="searchValue" id="searchClearButton" class="lui-icon--close lui-icon"
                  ng-click="searchValue = ''; clearsearchValue(dimension.name)"></span>
            </div>
            <div class="list-item" ng-repeat="value in dimension.values"
               ng-class="[value.qState, dimension.selectionType , (dimension.selectionType == 'luicheckbox' || dimension.selectionType == 'luiradio') ? 'pushText' : '']"
               ng-mousedown="startDrag(dimension.name, value, $event)"
               ng-mouseover="hoverHandler(dimension.name, value, $event)"
               ng-mouseup="endDrag(dimension.name, value, $event)" ng-style="CellStyle">
               <span ng-if="dimension.selectionType == 'luicheckbox'" class="checkbox"></span>
               <span ng-if="dimension.selectionType == 'luiradio'" class="radiobtn"></span>
               <span class="list-item-value" ng-bind-html="highlight(value.qText, searchValue)"></span>
            </div>
            <!--TOODO: check cardinality of list and disable button when reached -->
            <button ng-hide="dimension.IsVisibleSearch || dimension.IsVisibleSelectionsMenuItems" type="button"
               class="lui-button" id="loadMore" ng-click="paginateList(dimension.name)"
               ng-style="{ 'display' : dimension.displayLoadMore }">Load
               more</button>
         </div>
      </div>

      <!--------------------------------------------UI Dropdown--------------------------------------------------------------->
      <div ng-if="dimension.fieldType == 'dropdown' || checkHeight" class="dropdown-list">
         <button class="dropdown-toggle lui-button" ng-click="onDropdownToggleClick(dimension.id)"
            ng-style="dropdownStyle">
            <span ng-style="HeaderStyle">{{ dimension.label ? dimension.label : dimension.name }}</span>
            <span class="lui-button__caret  lui-caret buttoncaret" style="float: right;"></span>
         </button>
         <div class="listbox lui-popover" ng-attr-id="{{'popover-' + dimension.id}}">
            <div class="lui-popover__arrow ng-scope lui-popover__arrow--top"></div>
            <div class="dropdown-listbox-selection-toolbar">
               <div class="dropdown-selectionMenu" ng-style="enableSelectionsMenu">
                  <button class="dropbtn">
                     <i class="lui-icon lui-icon--menu"></i>
                  </button>
                  <div class="dropdown-selectionMenu-content" style="right:2px">
                     <div class="selectionsMenuItems" ng-style="enableSelectionsMenu">
                        <span ng-click="selectionsMenuBar(dimension.name,'selectAll')" ng-style="enableSelectAll"><i
                              class="lui-icon lui-icon--select-all"></i> &nbsp; Select All</span>
                        <span ng-click="selectionsMenuBar(dimension.name,'selectExcluded')"
                           ng-style="enableSelectExcluded"><i class="lui-icon lui-icon--select-excluded"></i> &nbsp;
                           Select
                           Excluded</span>
                        <span ng-click="selectionsMenuBar(dimension.name,'selectPossible')"
                           ng-style="enableSelectPossible"> <i class="lui-icon lui-icon--select-possible"></i>
                           &nbsp;Select
                           Possible</span>
                        <span ng-click="selectionsMenuBar(dimension.name,'selectAlternative')"
                           ng-style="enableSelectAlternative"><i class="lui-icon lui-icon--select-alternative"></i>
                           &nbsp; Select Alternative</span>
                        <span ng-click="selectionsMenuBar(dimension.name,'clearAll')" ng-style="enableClearAll"> <i
                              class="lui-icon lui-icon--clear-selections"></i> &nbsp;Clear All</span>
                        <span ng-click="selectionsMenuBar(dimension.name,'lockField')" ng-style="enableLockField"><i
                              class="lui-icon lui-icon--lock"></i> &nbsp; Lock Field</span>
                        <span ng-click="selectionsMenuBar(dimension.name,'unlockField')" ng-style="enableUnlockField">
                           <i class="lui-icon lui-icon--unlock"></i> &nbsp;Unlock
                           Field</span>
                     </div>
                  </div>
               </div>
               <div>
                  <button id="cancel-sel-button" title="Cancel Selection" class="lui-button  lui-button--danger"
                     ng-click="endSelections(dimension.name, false)"><i
                        class="lui-icon lui-icon--close rm-pointer-events"></i></button>
                  <button id="confirm-sel-button" title="Confirm Selection" class="lui-button  lui-button--success"
                     ng-click="endSelections(dimension.name, true)"><i
                        class="lui-icon lui-icon--tick rm-pointer-events"></button>
               </div>
            </div>
            <div class="listboxprops">
               <div class="search-container" ng-style="enableSearch">
                  <span class="lui-icon--search  lui-icon"></span>
                  <input class="search-input" type="text" class="form-control" placeholder="Search"
                     ng-model="searchValue" ng-keyup="searchFieldDataForString(dimension.name,searchValue)"></input>
                  <span ng-show="searchValue" id="searchClearButton" class="lui-icon--close lui-icon"
                     ng-click="searchValue = ''; clearsearchValue(dimension.name)"></span>
               </div>
               <div class="list-item" ng-repeat="value in dimension.values"
                  ng-class="[value.qState, dimension.selectionType , (dimension.selectionType == 'luicheckbox' || dimension.selectionType == 'luiradio') ? 'pushText' : '']"
                  ng-mousedown="startDrag(dimension.name, value, $event)"
                  ng-mouseover="hoverHandler(dimension.name, value, $event)"
                  ng-mouseup="endDrag(dimension.name, value, $event)" ng-style="CellStyle">
                  <span ng-if="dimension.selectionType == 'luicheckbox'" class="checkbox"></span>
                  <span ng-if="dimension.selectionType == 'luiradio'" class="radiobtn"></span>
                  <span class="list-item-value" ng-bind-html="highlight(value.qText, searchValue)"></span>
               </div>
               <!--TOODO: check cardinality of list and disable button when reached -->
               <button ng-hide="dimension.IsVisibleSearch || dimension.IsVisibleSelectionsMenuItems" type="button"
                  class="lui-button" id="loadMore" ng-click="paginateList(dimension.name)"
                  ng-style="{ 'display' : dimension.displayLoadMore }">Load
                  more</button>
            </div>
         </div>
         <div class="state-count-bar" tid="stateCount">
            <div class="state selected" ng-style="{'width': dimension.percentSelected + '%'}"></div>
            <div class="state alternative" ng-style="{'width':  dimension.percentAlternative + '%'}"></div>
         </div>
      </div>
      <!--------------------------------------------UI Button Group--------------------------------------------------------------->
      <div class="buttongroup" ng-if="dimension.fieldType == 'buttongroup' && !checkHeight">
         <div ng-show="dimension.showSelectionToolbar" class="listbox-selection-toolbar">
            <button id="cancel-sel-button" class="lui-button  lui-button--danger"
               ng-click="endSelections(dimension.name, false)"><i
                  class="lui-icon lui-icon--close rm-pointer-events"></i></button>
            <button id="confirm-sel-button" class="lui-button  lui-button--success"
               ng-click="endSelections(dimension.name, true)"><i
                  class="lui-icon lui-icon--tick rm-pointer-events"></button>
         </div>
         <div class="label-header" ng-style="HeaderStyle">
            <div class="dropdown-selectionMenu" ng-style="enableSelectionsMenu">
               <button class="dropbtn">
                  <i class="lui-icon lui-icon--menu"></i>
               </button>
               <div class="dropdown-selectionMenu-content">
                  <div class="selectionsMenuItems" ng-style="enableSelectionsMenu">
                     <span ng-click="selectionsMenuBar(dimension.name,'selectAll')" ng-style="enableSelectAll"><i
                           class="lui-icon lui-icon--select-all"></i> &nbsp; Select All</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'selectExcluded')"
                        ng-style="enableSelectExcluded"><i class="lui-icon lui-icon--select-excluded"></i> &nbsp; Select
                        Excluded</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'selectPossible')"
                        ng-style="enableSelectPossible"> <i class="lui-icon lui-icon--select-possible"></i> &nbsp;Select
                        Possible</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'selectAlternative')"
                        ng-style="enableSelectAlternative"><i class="lui-icon lui-icon--select-alternative"></i> &nbsp;
                        Select Alternative</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'clearAll')" ng-style="enableClearAll"> <i
                           class="lui-icon lui-icon--clear-selections"></i> &nbsp;Clear All</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'lockField')" ng-style="enableLockField"><i
                           class="lui-icon lui-icon--lock"></i> &nbsp; Lock Field</span>
                     <span ng-click="selectionsMenuBar(dimension.name,'unlockField')" ng-style="enableUnlockField"> <i
                           class="lui-icon lui-icon--unlock"></i> &nbsp;Unlock
                        Field</span>
                  </div>
               </div>
            </div>
            <span class="lui-icon--search  lui-icon search-icon" title="Search"
               ng-click="toggleSearchbar(dimension.name)" ng-style="enableSearch"></span>
            <span>{{ dimension.label ? dimension.label : dimension.name }}</span>
         </div>
         <div class="buttongroupprops">
            <div class="search-container" ng-show="dimension.IsVisibleSearch">
               <span class="lui-icon--search  lui-icon"></span>
               <input class="search-input" type="text" class="form-control" placeholder="Search" ng-model="searchValue"
                  ng-keyup="searchFieldDataForString(dimension.name,searchValue)"></input>
               <span ng-show="searchValue" id="searchClearButton" class="lui-icon--close lui-icon"
                  ng-click="searchValue = ''; clearsearchValue(dimension.name)"></span>
            </div>
            <button class="button-item" ng-repeat="value in dimension.values" ng-class="[value.qState]"
               ng-mousedown="startDrag(dimension.name, value, $event)"
               ng-mouseover="hoverHandler(dimension.name, value, $event)"
               ng-mouseup="endDrag(dimension.name, value, $event)" ng-style="BtnGroupStyle">
               <span class="button-item-value" ng-bind-html="highlight(value.qText, searchValue)"></span>
            </button>
            <button ng-hide="dimension.IsVisibleSearch || dimension.IsVisibleSelectionsMenuItems" type="button"
               class="lui-button" id="loadMore" ng-click="paginateList(dimension.name)"
               ng-style="{ 'display' : dimension.displayLoadMore }">Load
               more</button>
         </div>
      </div>
   </div>
</div>